{% extends 'index.html' %} {% block content %} {% autoescape off %} {% if result %}
<div class="row">
	<div class="col-8 offset-2">
		<div class="text-center logoString_h3 mt-3">
			<h3 class="">Facts</h3>
		</div>
		<form action="{% url 'facts_search' %}" method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-start mb-3">
			{% csrf_token %}
			<div class="">
				<input type="text" class="form-control" id="searchFact" name="searchFact" placeholder="&#128269;" style="text-align: right" aria-describedby="searchFact" />
				<div id="searchFact" class="form-text">Search Facts</div>
			</div>
			<button type="submit" class="btn btn-outline-secondary ms-3">Search</button>
		</form>
		{% if user.is_superuser %}
		<p class="text-small"><i>Add new and edit Facts only through the Admin panel!</i></p>
		{% endif %}
		<ol class="my-5 alternating-colors">
			{% for i in result %}
			<li>
				{% if user.is_superuser %}
				<div class="d-flex justify-content-end" id="deleteFactsBlock">
					<a href="{% url 'delete_facts' i.id %}" class="nav-link me-3">&#10060;</a>
				</div>
				{% endif %}
				<div class="d-flex flex-column justify-content-center align-items-start" id="contentFactBlock">
					<h3>{{ i.title }}</h3>
					<p>{{ i.description }}</p>
				</div>
			</li>
			{% endfor %}
		</ol>
		{% if user.is_superuser %}
		<p class="text-small"><i>Add new and edit Facts only through the Admin panel!</i></p>
		{% endif %}
	</div>
</div>
{% else %}
<div class="d-flex flex-column justify-content-center align-items-center no-content">
	<p class="text-center">&#128532;<br /><b>Sorry, but No content yet right here...</b></p>
</div>
{% if user.is_superuser %}
<p class="text-small text-center"><i>Add new and edit Facts only through the Admin panel!</i></p>
{% endif %} {% endif %} {% endautoescape %} {% endblock %}
