{% extends 'index.html' %} {% block content %} {% autoescape off %} {% if result %}
<div class="row">
	<div class="col-10 offset-1">
		<div class="text-center logoString_h3 mt-3">
			<h3 class="">News and Articles</h3>
		</div>
		<form action="{% url 'newsArticles_search' %}" method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-start mb-3">
			{% csrf_token %}
			<div class="">
				<input type="text" class="form-control" id="searchNewsArticles" name="searchNewsArticles" placeholder="&#128269;" style="text-align: right" aria-describedby="searchNewsArticles" />
				<div id="searchNewsArticles" class="form-text">Search News and Articles</div>
			</div>
			<button type="submit" class="btn btn-outline-secondary ms-3">Search</button>
		</form>
		{% if user.is_superuser %}
		<p class="text-small"><i>Add new and edit News and Articles only through the Admin panel!</i></p>
		{% endif %}
		<p class="text-small text-center text-muted mt-5"><i>Click on a title to see detailed information.</i></p>
		<table class="table text-center table-striped table-hover table-responsive caption-top" id="newsArticlesTable">
			<caption class="text-small">
				<i>News and Articles</i>
			</caption>
			<thead style="cursor: pointer">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title &#9650; &#9660;</th>
					<th scope="col">Publish Date &#9650; &#9660;</th>
					<th scope="col">Author &#9650; &#9660;</th>
					<th scope="col">#tags</th>
					{% if user.is_superuser %}
					<th scope="col">Delete</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for i in result %}
				<tr>
					<td scope="row">{{ forloop.counter }}</td>
					<td><a href="{% url 'newsArticles_detailed' i.id %}" class="nav-link"><b>{{ i.title }}</b></a></td>
					<td>{{ i.publish_date|date:"Y-m-d" }}</td>
					<td>{{ i.author }}</td>
					<td>{{ i.tags }}</td>
					{% if user.is_superuser %}
					<td><a href="{% url 'delete_newsArticles' i.id %}" class="nav-link me-3">&#10060;</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if user.is_superuser %}
		<p class="text-small"><i>Add new and edit News and Articles only through the Admin panel!</i></p>
		{% endif %}
	</div>
</div>
{% elif resultNotCorrect %}
<div class="d-flex flex-column justify-content-center align-items-center no-content">
	<p class="text-center">&#128532;<br /><b>{{resultNotCorrect}}...</b></p>
    <a href="{% url 'newsArticles' %}" class="nav-link ms-3">Back</a>
</div>
{% else %}
<div class="d-flex flex-column justify-content-center align-items-center no-content">
	<p class="text-center">&#128532;<br /><b>Sorry, but No content yet right here...</b></p>
</div>
{% if user.is_superuser %}
<p class="text-small text-center"><i>Add new and edit News and Articles only through the Admin panel!</i></p>
{% endif %} 
{% endif %} {% endautoescape %} {% endblock %}
