{% extends 'index.html' %} {% load static %} {% block content %}

<div class="logoString_h3 text-center mt-5">
  <h3>CityNews</h3>
  <p>Choose one of the category</p>
</div>
<div class="body__card">
	<div class="container__card">
		<div class="box__card">
			<a href="{% url 'newsArticles' %}" title="Latest news">
				<div class="imgBx">
					<img src="{% static 'IMG/News_bg.jpeg' %}" />
				</div>
				<div class="content__card">
					<div>
						<h2>News</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
					</div>
				</div>
			</a>
		</div>
		<div class="box__card">
			<a href="{% url 'facts' %}" title="Facts">
				<div class="imgBx">
					<img src="{% static 'IMG/Facts_bg.jpg' %}" />
				</div>
				<div class="content__card">
					<div>
						<h2>Facts</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
